* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-bg;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $body-text-clr;
}

.link {
    color: $footer-active-clr;
    font-weight: 600;
}

.registration-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    .rs-panel {
        .rs-panel-heading {
            display: none;
        }
    }
    .registration-form__header {
        text-align: center;
        &__title {
            font-size: 2em;
        }
        p {
            span {
                b {
                    color: $theme-orange;
                }
            }
        }
    }
    .registration-form__body {
        background-color: $form-container-bg;
        padding: 20px;
        margin: 20px 0;
        border-radius: 10px;
        &__btnsgroup {
            display: flex;
            .form-btn {
                width: 100%;
                background-color: $form-btn-clr;
                color: $form-btn-text-clr;
                &.rs-btn-disabled {
                    background-color: $form-btn-disabled-clr;
                }
            }
        }
    }
    .registration-form__footer {
        text-align: center;
        color: $footer-text-clr;
        font-size: 1.1em;
        a {
           @extend .link;
        }
    }
}

.otp-footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
    margin: 20px -20px 0 -20px;
    a {
        @extend .link;
    }
}