$theme-teal:                    #2e4b64;
$theme-teal-dark:               #28435a;
$theme-orange:                  #ed5801;
$theme-orange-medium:           #facdb3;
$theme-orange-light:            #fdeee6;

$black:                         #000000;
$white:                         #ffffff;
$grey:                          #cccccc;
$red:                           #ff0000;

$charchol-dark:                 #555555;
$charchol:                      #b3b3b9;
$silver:                        #f9fafa;

$green:                         #38c172;

// general
$body-bg:                       $silver;
$body-text-clr:                 $black;

// header
$header-bg:                     $theme-teal;

// steps
$steps-text-clr:                $charchol;
$steps-active-text-clr:         $white;
$steps-icon-bg:                 $theme-teal-dark;
$steps-active-icon-bg:          $theme-orange;

// forms
$form-container-bg:             $white;
$error-clr:                     $red;
$form-label-clr:                $charchol-dark;
$form-input-clr:                $black;
$form-input-border-clr:         $grey;
$form-active-radio-clr:         $theme-orange-light;
$form-active-radio-text-clr:    $theme-orange;
$form-active-checkbox-clr:      $theme-orange;
$form-btn-clr:                  $theme-orange;
$form-btn-text-clr:             $white;
$form-btn-disabled-clr:         $theme-orange-medium;
$image-upload-btn-clr:          $theme-orange;

// success
$success-clr:                   $green;
$success-text-clr:              $white;

// form footer
$footer-active-clr:             $theme-orange;
$footer-text-clr:               $charchol-dark;