.input-wrapper {
    margin-bottom: 25px;
    label {
        display: block;
        color: $form-label-clr;
        margin-bottom: 5px;
    }
    input {
        color: $form-input-clr;
        font-weight: 550;
        border-color: $form-input-border-clr !important;
    }
    .rs-radio {
        display: inline-block;
        margin-right: 15px;
        &.rs-radio-checked {
            .rs-radio-checker {
                label {
                    background-color: $form-active-radio-clr;
                    border-color: $form-active-radio-clr;
                    color: $form-active-radio-text-clr;
                }
            }
        }
        &-checker {
            padding: 0;
            label {
                width: 100px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                border: 1px solid $form-input-border-clr;
                position: relative;
                font-weight: 600;
                letter-spacing: 1px;
                .rs-radio-wrapper {
                    opacity: 0;
                }
            }
        }
    }
    .rs-picker-select {
        .rs-picker-toggle {
            border-color: $form-input-border-clr !important;
            font-weight: 600;
            .rs-picker-toggle-value {
                color: $form-input-clr;
            }
        }
    }
    .flag-select {
        width: 100%;
        &__btn {
            width: 100%;
            padding: 0;
            position: relative;
            outline: 0;
            border: 1px solid $form-input-border-clr;
            font-weight: 600;
            &::after {
                content: '\ea08';
                font-family: 'rsuite-icon-font' !important;
                border: 0;
                position: absolute;
                right: 20px;
                top: 10px;
            }
        }
        &__option {
            text-align: left;
            display: flex;
            align-items: baseline;
            &__icon {
                border-radius: 100%;
                width: 26px;
            }
        }
    }
    .rs-checkbox {
        &.rs-checkbox-checked {
            .rs-checkbox-wrapper {
                .rs-checkbox-inner {
                    &::before {
                        border-color: $form-active-checkbox-clr;
                        background-color: $form-active-checkbox-clr;
                    }
                }
            }
        }
        .rs-checkbox-checker {
            label {
                span {
                    color: $form-active-checkbox-clr;
                    font-weight: 600;
                }
            }
            .rs-checkbox-wrapper {
                width: 18px;
                height: 18px;
                .rs-checkbox-inner {
                    &::before {
                        width: 18px;
                        height: 18px;
                    }
                    &::after {
                        width: 7px;
                        height: 11px;
                    }
                }
            }
        }
    }
    .fileUploader {
        .fileContainer {
            flex-direction: row-reverse;
            justify-content: flex-end;
            box-shadow: none;
            position: relative;
            .errorsContainer {
                background-image: url('./../../images/default.jpg');
                background-size: 100% auto;
                border-radius: 100%;
                overflow: hidden;
                width: 120px;
                height: 120px;
                position: absolute;
            }
            .chooseFileButton {
                color: $image-upload-btn-clr;
                background-color: transparent;
                font-weight: bold;
                font-size: 1.3em;
            }
            .uploadPicturesWrapper {
                width: 120px;
                height: 120px;
                .uploadPictureContainer {
                    width: 100%;
                    border-radius: 100%;
                    padding: 0 !important;
                    margin: 0;
                    overflow: hidden;
                    .uploadPicture {
                        width: 120px;
                        height: 120px;
                    }
                    .deleteImage {
                        display: none;
                    }
                }
            }
        }
    }
    .PhoneInput {
        width: 100%;
        position: relative;
        z-index: 5;
        padding-right: 32px;
        outline: none;
        cursor: pointer;
        color: #575757;
        border: 1px solid #cccccc;
        height: 36px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: #eee;
            height: 100%;
            width: 81px;
            z-index: -1;
        }
        .PhoneInputCountry {
            padding: 0 10px;
            .PhoneInputCountryIcon {
                box-shadow: none;
                border-radius: 100%;
                overflow: hidden;
                height: 20px;
            }
        }
        input {
            border: 0;
            outline: 0;
            background-color: transparent;
        }
    }
}
.error {
    color: $error-clr;
    font-size: 12px;
}

.otp-wrapper {
    & > div {
        justify-content: space-between;
    }
}