.steps-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    &__steps {
        &__item.rs-steps-item-status-finish {
            .rs-steps-item-icon-wrapper {
                .rs-steps-item-icon {
                    &::before {
                        color: $steps-active-text-clr;
                    }
                }
            }
        }
        &__item, &__item.rs-steps-item-status-finish {
            cursor: pointer;
            .rs-steps-item-content {
                &::after {
                    display: none;
                }
                .rs-steps-item-title {
                    color: $steps-text-clr;
                }
            }
            .rs-steps-item-icon-wrapper {
                border-color: $steps-icon-bg;
                background-color: $steps-icon-bg;
                .rs-steps-item-icon {
                    color: $steps-text-clr;
                }
            }
            &.rs-steps-item-status-process {
                .rs-steps-item-content {
                    .rs-steps-item-title {
                        color: $steps-active-text-clr;
                    }
                }
                .rs-steps-item-icon-wrapper {
                    border-color: $steps-active-icon-bg;
                    background-color: $steps-active-icon-bg;
                    .rs-steps-item-icon {
                        color: $steps-active-text-clr;
                    }
                }
            }
        }
    }
}