.success-wrapper {
    text-align: center;
    padding: 50px;
    & > div {
        max-width: 100%;
    }
    &__details {
        margin-top: 50px;
        &__title {
            color: $success-clr;
        }
        &__link {
            background-color: $success-clr;
            color: $success-text-clr;
            border: 2px solid $success-text-clr;
            font-weight: bold;
            padding: 10px 20px;
            display: inline-block;
            margin: 20px;
            font-size: 1.2em;
            text-decoration: none !important;
            @include transition(0.3s);
            &:hover {
                background-color: $success-text-clr;
                color: $success-clr;
                border-color: $success-clr;
                @include transition(0.3s);
            }
        }
    }
}